@mixin track() {
	background-color: white;
	height: 15px;
	-webkit-appearance: none;
}

@mixin thumb {
	width: 15px;
	height: 15px;
	cursor: ew-resize;
	background: #0042ff;
	-webkit-appearance: none;
}

@mixin thumb-disabled {
	background: grey;
	cursor: not-allowed;
}

input[type='range'] {
	z-index: 10000000;
	outline: none;
	width: 100%;
	max-width: 360px;
	overflow: hidden;
	-webkit-appearance: none;
	background-color: white;
	border-radius: 1em;
	display: block;
	position: relative;

	&::-webkit-slider-runnable-track {
		@include track;
	}
	&::-moz-range-progress {
		@include track;
	}
	&::-ms-track {
		@include track;
	}

	&::-webkit-slider-thumb {
		@include thumb;
	}
	&::-moz-range-thumb {
		@include thumb;
	}
	&:disabled::-webkit-slider-thumb {
		@include thumb-disabled;
	}
	&:disabled::-moz-range-thumb {
		@include thumb-disabled;
	}
}
.sr-mode {
	&:focus {
		box-shadow: 0 0 0 3pt #0042ff;
	}
}
