.main-page-container {
	margin: 0 auto;
	width: 100%;

	canvas {
		border: 3px solid #2727e6;
		margin: 40px 0 0 40px;
		touch-action: none;
	}

	.text-container {
		margin: 40px 0 0 40px;
		width: 100%;

		.slider-container-header {
			width: 90%;
		}

		.text {
			font-size: 24px;
		}

		.text-link {
			color: #c7c7c7;
			text-decoration: none;

			&:hover {
				color: red;
			}
		}

		.important-text {
			color: red;
		}

		.livestream-link {
			font-size: 30px;

			&:hover {
				color: red;
			}
		}
	}

	.border-t,
	.border-l,
	.border-b,
	.border-r {
		background: #2727e6;
		position: fixed;
	}

	.border-l,
	.border-r {
		top: 0;
		bottom: 0;
		width: 15px;
	}

	.border-l {
		left: 0;
	}

	.border-r {
		right: 0;
	}

	.border-t,
	.border-b {
		left: 0;
		right: 0;
		height: 15px;
	}

	.border-t {
		top: 0;
	}

	.border-b {
		bottom: 0;
	}
}
