.xypad-container {
	max-width: 365px;
	margin: 0;

	.canvas {
		max-width: 360px;
		touch-action: none;
		user-select: none;

		canvas {
			border: 3px solid #2727e6;
			margin-bottom: 40px;
		}
	}
}
